.grid {
	border: 1px solid blue;
	overflow: hidden;
}

.unit{
	background-color: #fff;
	float: left;
}

.unit-s-1{ /* you want them to stack on top of each other */
	width: 100%; /* this takes up the whole row of the page */
}

@media only screen and (min-width: 30em){ /* need to start using media queries because you are now changing screen sizes */
	.unit-m-1-3{
		width: 33.33%;
	}
}

@media only screen and (min-width: 50em){
	.unit-l-1-3{

	}
}
