.grid {
	border: 1px solid blue;
	overflow: hidden;
}

.unit{
	background-color: #fff;
	float: left;
	width: 33.33%;
}

.unit2-3{
	width: 66.6666%;
}

.gutter {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
